<script src="assets/js/scripts.js"></script>

<ul class="side-nav" id="mobile-side-nav">
    <li><a href="/#!">Home</a></li>
    <li><a href="#about_me">About Me</a></li>
    <li><a href="#skills">Skills</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#connect">Connect</a></li>
</ul>

<header id="home">
  <div id="index-banner" class="parallax-container">
    <!--hidden navbar-->
    <div id="nav-anchor" class="navbar-fixed" hidden>
      <nav class="customcolor z-depth-3 invisible" id="my_navbar">
          <div class="nav-wrapper">
            <a id="logo" href="/#!" class="brand-logo light">Marco Molina</a>
            <a href="#" data-activates="mobile-side-nav" class="button-collapse right"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="/#!">Home</a></li>
              <li><a href="#about_me">About Me</a></li>
              <li><a href="#skills">Skills</a></li>
              <li><a href="#projects">Projects</a></li>
              <li><a href="#connect">Connect</a></li>
            </ul>
          </div>
        </nav>
    </div>
    <!--static navbar-->
    <div id="nav-anchor" class="">
      <nav class="transparent z-depth-0" id="my_navbar2">
          <div class="nav-wrapper">
            <a id="logo" href="/#!" class="brand-logo light">Marco Molina</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="/#!">Home</a></li>
              <li><a href="#about_me">About Me</a></li>
              <li><a href="#skills">Skills</a></li>
              <li><a href="#projects">Projects</a></li>
              <li><a href="#connect">Connect</a></li>
            </ul>
          </div>
        </nav>
    </div>

      <div class="container top-container" >
          <!--startchange class goes here-->
        <div class="row">
            <div class="col l10 s12 white-text">
                <h4 class="thin-text left-align">Hi, I'm Marco Molina.</h4>
                <h4 class="thin-text left-align">A Web Developer in the D.C. Metro Area.</h4>
            </div>
        </div>
        <div class="row">
             <div class="col l4">
                <a class="modal-trigger waves-effect btn-large hoverable red accent-2" href="#modal1">Check Out My Resume</a>
             </div>
        </div>
        
      </div>

          <!-- Modal Structure -->
          <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
              <object data="assets/images/MarcoMolinaResume2017.pdf" type="application/pdf" style="overflow: scroll; width: inherit; height: 100%;"></object>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
              <a href="assets/images/MarcoMolinaResume2017.pdf" download="MarcoMolinaResume2017.pdf" class="modal-action modal-close waves-effect waves-green btn-flat">Download</a>
            </div>
          </div>


    <div class="parallax"><img src="assets/images/road.jpeg" alt="Road" width="100vw"></div>
      
  </div>
<div id="startchange"></div>
</header>

  <!-- About Me -->
    <div id="about_me" class="container section">
      <div class="row">
        <div class="col s12 m12">
          <h2 class="section-header">About Me</h2>
       </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s12 m6 l6 ">
            <p class="flow-text about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col s12 m6 l6">
            <!-- Profile Picture -->
            <img id="image-test" width='90%' src="assets/images/profile_pic.jpg" class="responsive-img z-depth-1 right">
        </div>
    </div>
  </div>

  <!-- Skills Section -->
    <div id="skills" class="container section">
      <div class="section" style="padding-top: 45px;">
        <div class="col s12 m4">
            <div class="row">
                <h2 class="section-header">Skills</h2>
            </div>
            <div class="row">
              <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="HTML5, CSS3, JavaScript" src="assets/images/html5.png" width="70%" alt="HTML5, CSS3, Javascript">
              </div>
              <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="AngularJS" src="assets/images/angularjs.png" width="70%" alt="Angular">
              </div>
              <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="MongoDB" src="assets/images/mongodb.png" width="70%" alt="MongoDB">
              </div>
              <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Node.js" src="assets/images/nodejs.png" width="70%" alt="Node.js">
              </div>
              <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="npm" src="assets/images/npm.png" width="70%" alt="npm">
              </div>
            <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Express.js" src="assets/images/expressjs.png" width="70%" alt="Express.js">
              </div>
            </div>

            <div class="row">
              <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Django" src="assets/images/django.png" width="70%" alt="django">
              </div>
            <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="JQuery" src="assets/images/jquery.png" width="70%" alt="JQuery">
              </div>
              <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Python" src="assets/images/python.png" width="70%" alt="Python">
              </div>
              <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="MySQL" src="assets/images/mysql.png" width="70%" alt="mySQL">
              </div>
              <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Rails" src="assets/images/rails.png" width="70%" alt="Rails">
              </div>
              <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ruby" src="assets/images/ruby.png" width="70%" alt="Ruby">
              </div>
            </div>

            <div class="row">
              <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="PostgreSQL" src="assets/images/postgres.png" width="70%" alt="PostgreSQL">
              </div>
              <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Alexa Skills" src="assets/images/alexa.png" width="70%" alt="Github">
              </div>
              <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Terminal" src="assets/images/terminal.png" width="70%" alt="Terminal">
              </div>
              <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="MAMP" src="assets/images/mamp.png" width="70%" alt="Mamp">
              </div>
              <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Vagrant" src="assets/images/vagrant.png" width="70%" alt="Vagrant">
              </div>
              <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="AWS" src="assets/images/aws.png" width="70%" alt="AWS">
              </div>
            </div>

            <div class="row">
              <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="VS Code" src="assets/images/vscode.png" width="70%" alt="VS Code">
              </div>
              <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ajax" src="assets/images/ajax.png" width="70%" alt="Bower">
              </div>
              <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Materialize" src="assets/images/materialize.png" width="70%" alt="Materialize">
              </div>
              <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Flask" src="assets/images/flask.png" width="70%" alt="Flask">
              </div>
              <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="JSON" src="assets/images/json.png" width="70%" alt="JSON">
              </div>
            <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ubuntu" src="assets/images/ubuntu.png" width="70%" alt="JSON">
              </div>
            </div>

            <div class="row">
              <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Angular" src="assets/images/angular.png" width="70%" alt="Angular">
              </div>
              <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="JQuery UI" src="assets/images/jqueryui.png" width="70%" alt="JQuery UI">
              </div>
               <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="SQLite" src="assets/images/sqlite.png" width="70%" alt="SQLite">
              </div>
              <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Bootstrap" src="assets/images/bootstrap.png" width="70%" alt="Bootstrap">
              </div>
              <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Bower" src="assets/images/bower.png" width="70%" alt="Bower">
              </div>
            <div class="col s4 m4 l2">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="TypeScript" src="assets/images/typescript.png" width="70%" alt="TypeScript">
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

    <!-- Mid Parallax -->
  <div class="parallax-container valign-wrapper">
    <div class="container">
        <div class="row center-align">
            <div class="col l10 offset-l1 valign">
                <h3 class="white-text light">Interested in working together?</h3>
                <a href="#" class="btn-large hoverable red accent-2">GET IN TOUCH</a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="assets/images/dc.jpeg"></div>
  </div>

  <!-- Project Sections -->
  <div id="projects" class="container section">
    <div class="section">
      <div class="col s12 m4">

        <div class="row">
              <h2 class="section-header">Projects</h2>
        </div>
        <div class="row">
          <!-- Mainstage blog -->
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <div class="slider">
                  <ul class="slides" style="background-color: white;">
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/mainstage1.png"> 
                    </li>
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/mainstage2.png"> 
                    </li>
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/mainstage3.png"> 
                    </li>
                    <li>
                      <img class="activator" style="background-position: initial;" src="static/images/mainstage4.png"> 
                    </li>
                    <li>
                      <img class="activator" style="background-position: initial;"  src="static/images/mainstage5.png"> 
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Mainstage Blog<i class="material-icons right">more_vert</i></span>
                <p><a href="https://github.com/salazarlg24/Mainstage_blog">View on Github</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Mainstage Blog<i class="material-icons right">close</i></span>
                <p>Simple Blog built with Ruby on Rails.
                    After a user registers or logs in, they are taken to the blog dashboard where they can leave comments on the blog they are viewing.</p>
              </div>
            </div>
          </div>

           <!-- exp -->
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <div class="slider">
                  <ul class="slides" style="background-color: white;">
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/exp1.png"> 
                    </li>
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/exp2.png"> 
                    </li>
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/exp.png"> 
                    </li>
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/exp3.png"> 
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">exp {Explore. Experience}<i class="material-icons right">more_vert</i></span>
                <p><a href="https://github.com/salazarlg24/exp_project">View on Github</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">exp.<i class="material-icons right">close</i></span>
                <p>Built with JavaScript (MongoDB,Express,AngularJS,Node.js).
                    A local event finder application. After a user has logged in or registered they are taken to a dashboard where multiple events are displayed, the user has the option to join or go to the create page to construct an event of their own. (Google Maps API integration) </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Professional Networking -->
        <div class="row">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <div class="slider">
                  <ul class="slides" style="background-color: white;">
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/professional1.png"> 
                    </li>
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/professional2.png"> 
                    </li>
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/professional3.png"> 
                    </li>
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/professional4.png"> 
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Professional Networking (Under Construction)<i class="material-icons right">more_vert</i></span>
                <p><a href="https://github.com/salazarlg24/Professional_Networking">View on Github</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Professional Networking (Under Contruction)<i class="material-icons right">close</i></span>
                <p>Social media application allowing users to connect with other users. Built with Ruby on Rails.
                    Similar to Linkedin, after creating a profile, a user may view other user's profile and choose to add them to their network. Any user that has requested to join your network will appear on your invitations table, you then have to option to accept or ignore it.(RESTful architecture utilized. Rails ActiveRecord applied for front-end queary logic. PostgreSQL used for database.) </p>
              </div>
            </div>
          </div>
          <!-- QuickBuy -->
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <div class="slider">
                  <ul class="slides" style="background-color: white;">
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/quickbuy1.png"> 
                    </li>
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/quickbuy2.png"> 
                    </li>
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/quickbuy4.png"> 
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">QuickBuy (Under Construction)<i class="material-icons right">more_vert</i></span>
                <p><a href="https://github.com/salazarlg24/Mini_Store">View on Github</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">QuickBuy (Under Construction)<i class="material-icons right">close</i></span>
                <p>Built with Javascript (MongoDB,Express,AngularJS,Node.js).
                    An online market for users to browse, add, and buy products.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bottom Paralax -->
  <div class="parallax-container">
    <div class="parallax"><img src="assets/images/keyboard.jpeg"></div>
  </div>

<!-- Connect -->
  <footer id="connect" class="z-depth-1 center" style="background-color: #333">
    <div class="container">
      
      <div class="row" style="margin-bottom: 0px;">

        <div class="col s12 m4">
          <p class="light white-text" style="margin-top: 62px;"><i>"Do not pray for an easy life, pray for the strength to endure a difficult one"</i></p>
          <p class="light teal-text text-accent-4">Bruce Lee</p>
        </div>
        <div class="col s12 m4">
           <h3 class="light brand-logo teal-text text-accent-4">Connect</h3>
          <p>
          <!-- LinkedIN -->
            <a class="waves-effect waves-light btn-floating social linkedin tooltipped"  data-position="bottom" data-delay="50" data-tooltip="LinkedIn" target="_blank" href="https://www.linkedin.com/in/marcomolina11/">
            <i class="fa fa-linkedin"></i></a>

            <!-- Github -->
             <a class="waves-effect waves-light btn-floating social github tooltipped" data-position="bottom" data-delay="50" data-tooltip="GitHub" target="_blank" href="https://github.com/marcomolina11">
          <i style="font-size: 38px;" class="fa fa-github"></i></a>

            <!-- Gmail -->
            <a class="waves-effect waves-light btn-floating social google tooltipped" data-position="bottom" data-delay="50" data-tooltip="marcomolina11@gmail.com" href="mailto:marcomolina11@gmail.com">
            <i class="fa fa-google"></i></a>
          </p>
        </div>
        <div class="col s12 m4">
          <img src="static/images/bruce_lee.png" style="width: 90%; height: auto; position: relative; top: 62px;">
        </div>
      </div>
<div class="fixed-action-btn">   
      <a class="back-to-top btn-floating btn-large waves-effect waves-light blue-grey darken-1" href="#home">
          <i class="material-icons">keyboard_arrow_up</i>
        </a>

</div>

    </div>

            <div class="footer-copyright blue-grey darken-4">
            <div class="container footer-container">
                <p class="grey-text text-lighten-4 thin-text">&copy; 2017 Copyright Marco Molina</p>
                <a href="#" class="grey-text text-lighten-4 thin-text">Privacy Policy</a>
            </div>
         </div>
  </footer>