body{
  font-family: 'Roboto', sans-serif !important;
}
.primary-color{
	background-color: #263238 !important;
}
.primary-color-light{
  background-color: #455a64 !important;
}
.secondary-color{
	background-color: #f06292 !important;  
}
.secondary-color-text{
	color: #f06292 !important;  
}
.btn-large:hover{
  background-color: #f06292 !important;
}
.footer-header{
    font-weight: 300;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    padding-left: 12px;
}
.section-header{
    font-weight: 300;
    padding-left: 5px;
}
#profile-pic{
  opacity: 0;
}
.about{
  padding-top: 0px;
  margin-top: 0px;
}
.contact-text{
  font-weight: lighter;
  font-size: 22px;
  color: white;
}
.contact-text-clickable{
  font-weight: lighter;
  font-size: 22px;
  color: white;
}
.contact-text-clickable:hover{
  border-bottom: 1px solid white;
}
.about-text{
  font-weight: 300;
  font-size: 22px;
}
.icon{
  font-size: 54px;
}
.custom-text{
 color: black;
 opacity: 0.5;
}
.icon-link{
  border-radius: 10px;
  background: white;
  padding-top: 24px;
}
.hover-highlight:hover{
  background-color: transparent !important;
  color: #f06292 !important;
  cursor: pointer;
}
.side-nav-link:hover{
  color: #f06292 !important;
  background-color: transparent !important;
  cursor: pointer;
}
.my-image{
  background-image: url("/images/adanote-home.png");
  width: 400px;
  height: 400px;
}
.project-link{
  padding: 15px 0px;
  text-transform: uppercase;
}
.icon-link:hover{
  cursor: pointer;
}
.special{
  position: absolute;
  left: 0;
  top: 0;
}
.full-screen{
  height: 100vh;
  position: relative;
  left: 0;
  top: 0;
}
#magic{
  width: 400px;
}
.modal-content { 
  overflow-y: hidden !important;
  height: 100% !important;
}
.modal{
  max-height: 100%;
}
.modal.modal-fixed-footer{
  max-height: 100%;
  height: 80vh;
}
#resume{
  height: 100% !important;
  width: 100% !important;
}
.hidden{
  opacity: 0;
}
#myNav{
  height: 80px;
  transition: all 0.7s;
  background-color:  #263238;
}
#logo{
  position: relative !important;
  font-size: 32px;
  transition: all 0.7s;
}
#myNavWrapper{
  display: flex;
  justify-content: space-between !important;
}
#back-up{
  transition: all 0.5s;
}
.about-header, .skills-header, .tech-logos, [class*="row-"], .cta, .cta-btn, .projects-header, .card-1, .card-2, .contact-header, .contact-row-1, .contact-row-2, .copyright{
  opacity: 0;
}
.intro{
  font-size: 32px;
}

/* For desktop: */
/* Navbar */
@media only screen and (min-width: 993px) {  
    #myNav{
      height: 80px;
      transition: all 0.7s;
      background-color: transparent;
    }
    .intro{
      font-size: 48px;
    }
} 
