.primary-color{
	background-color: #263238;
}
.primary-color-light{
  background-color: #455a64;
}
.secondary-color{
	background-color: #f06292;  
}
.secondary-color-text{
	color: #f06292;  
}
.thin-text{
    font-weight: lighter;
}
.footer-header{
    font-weight: 300;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    padding-left: 12px;
}
.section-header{
    font-weight: 300;
    padding-left: 5px;
}
#profile-pic{
  opacity: 0;
}
.about{
  padding-top: 0px;
  margin-top: 0px;
}
.contact-text{
  font-weight: lighter;
  font-size: 22px;
  color: white;
}
.contact-text-clickable{
  font-weight: lighter;
  font-size: 22px;
  color: white;
}
.contact-text-clickable:hover{
  border-bottom: 1px solid white;
}
.about-text{
  font-weight: 300;
  font-size: 22px;
}
.icon{
  font-size: 54px;
}
.custom-text{
 color: black;
 opacity: 0.5;
}
.icon-link{
  border-radius: 10px;
  background: white;
  padding-top: 26px;
}
.hover-highlight:hover{
  background-color: #f06292;
  cursor: pointer;
}
.side-nav-link:hover{
  color: white;
}
.my-image{
  background-image: url("/images/adanote-home.png");
  width: 400px;
  height: 400px;
}
.project-link{
  padding: 15px 0px;
  text-transform: uppercase;
}
.icon-link:hover{
  cursor: default;
}
.full-screen{
  height: 93vh;
}